.a {list-style-type: none}
.a li{display: inline; padding: 14px 16px;}

.cover {
  background-image: url(img/bckgrnd.jpg);
  background-size: cover;
}

.large-font {
  font-size: 50px;
}

.flex-container {
    display: flex;
    color: black;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 200px;
}

.bottom-lists {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  color: black;
  width: 100%;
  height: 400px;
}

.flex-container-bottom {
    display: flex;
    background-color: black;
}

.footer {
  display: flex;
  background-color: black;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  background-color:rgba(0,0,0,0.5);
}
